<style>
  .question {
    font-size: 50px;
  }
  .answer-form-container {
    margin-top: 100px;
  }
  .answer-form-container label {
    font-size:30px;
  }
  .answer-form-container input {
    font-size: 30px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid #8c8c8c;
    outline: none;
  }
</style>

<div class="js-question question"></div>

<div class="answer-form-container">
  <label>English Name</label>

  <form class="js-english-name">
    <input type="text" class="js-english-name-answer" />
  </form>

</div>

<h3>Hints</h3>
<ol>
  <li>Spell the words out</li>
</ol>
